---
import { Icon } from "astro-icon";
import * as info from '~/data/experience.md'
const { experience, subtitle, heading, summary } = info.frontmatter
---
<style>
  #experience h3 {
    margin: .5rem 0;
  }
  h3 + p {
    font-weight: bold;
    text-align: center;
    font-size: clamp(1.265625rem, calc(1.265625rem + ((1.5 - 1.265625) * ((100vw - 20rem) / (96 - 20)))), 1.5rem);
    line-height: 1.6;
  }
  h3 + p + p {
    color: var(--color-text-offset);
    text-align: center;
  }
  h3 + p + p + p {
    margin: 1.5rem 0;
  }
  h3 + p + p + p + p {
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
  }
  li>ul li {
    list-style: disc;
    margin-bottom: 0.5rem;
    list-style-position: inside;
  }
  #experience>ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  #experience>ul>li {
    background: rgba(0,0,0,.4);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
</style>
<section id="experience">
  <div>
    <p class="subtitle">
      {subtitle}
    </p>
    <h2>{heading}</h2>
  </div>
  <p>
    {summary}
  </p>
  <ul>
    {
      experience.map((item) => (
      <li>
        <h3>{item.title}</h3>
        <p>{item.location}</p>
        <p>{item.dates}</p>
        <p>
          {item.summary}
        </p>
        <p>Key Accomplishments:</p>
          <ul>
          {
            item.accomplishments.map((accomplishment) => (
              <li>{accomplishment}</li>
            ))
          }
          </ul>
        </li>
      ))
    }
  </ul>



</section>