---
import Section from '~/components/section.astro'
import * as info from '~/data/experience.md'
const id = info.file.split('/').pop().split('.')[0]
const { experience, subtitle, heading, summary } = info.frontmatter
---
<Section {id} {heading} {subtitle} {summary}>
  <ul class="flex flex-col gap-8">
    {
      experience.map((item) => (
      <li class="bg-offset py-4 px-8 rounded-lg border border-default">
        <h3 class="my-2">{item.title}</h3>
        <p class="font-bold text-center text-lg">{item.location}</p>
        <p class="text-offset text-center text-sm">{item.dates}</p>
        <p class="my-6">
          {item.summary}
        </p>
        <p class="font-bold text-center mb-4">Key Accomplishments:</p>
          <ul>
          {
            item.accomplishments.map((accomplishment) => (
              <li class="list-disc mb-4 list-inside">{accomplishment}</li>
            ))
          }
          </ul>
        </li>
      ))
    }
  </ul>
</Section>