---
import { Icon } from "astro-icon";
import * as info from '~/data/general.md'
import Menu from '~/components/menu.astro';
let { navigation, social } = info.frontmatter
---
<header
  id="page-header"
  class="fixed top-0 z-10 flex items-center justify-between w-screen p-4"
>
  <div id="logo">
    <button
      onclick="switchSlide(0)"
      aria-label="Return to top"
      class="opacity-80 hover:opacity-100 font-extrabold bg-primary
        rounded-full p-2 text-4xl"
    >
      <p>LT</p>
    </button>
    <div class="flex-col hidden xxs:block tracking-none pb-2 uppercase">
      <p class="opacity-70 font-normal">
        Portfolio
      </p>
      <p class="text-primary leading-none tracking-widest font-black">
        Liz Trejo
      </p>
    </div>
  </div>
  <nav class="items-center hidden leading-relaxed lg:block">
    <ul class="gap-8 flex">
      {
        navigation.map((item) => (
          <li>
            <button onclick={item.url} class="uppercase hover:text-primary">
              {item.title}
            </button>
          </li>
        ))
      }
    </ul>
  </nav>
  <div>
    <ul id="socials" class="hidden gap-2 lg:flex">
    {
      social.map((item) => (
        <li>
          <a href={item.url} aria-label={item.title} target="_blank">
            <Icon name={item.icon} class="h-10 sm:h-8 text-default hover:text-primary"/>
          </a>
        </li>
      ))
    }
    </ul>
    <button id="open-nav-button" aria-label="Navigation" class="lg:hidden">
      <Icon name="mdi:menu" class="h-8"/>
    </button>
  </div>
  <Menu {navigation} {social}/>
</header>