---
import { Icon } from "astro-icon";
import SplashImage from '~/components/splashImage.astro';
let { navigation, social } = Astro.props;
---
<script>
import MicroModal from "micromodal";
const opacity = ['opacity-0', 'opacity-100'];
const display = ['hidden', 'block'];
const id = 'menu-modal';
const menu = document.querySelector(`#${id} ul`);
const menuModal = document.querySelector(`#${id}`);

// functions to open/close Modals
const openModal = () => {
	display.forEach(e => menuModal.classList.toggle(e));
	setTimeout(() => {
			opacity.forEach(e => menuModal.classList.toggle(e));
	}, 1)
	MicroModal.show(id, { disableScroll: true });
};

const closeModal = () => {
	opacity.forEach(e => menuModal.classList.toggle(e));
	setTimeout(() => {
		display.forEach(e => menuModal.classList.toggle(e));
	}, 200)
	MicroModal.close(id);
};

// event listeners
document.querySelector("#open-nav-button").addEventListener("click", openModal);
document.querySelector("#close-nav-button").addEventListener("click", closeModal);

menu.addEventListener("click", (event) => {
(event.target as HTMLElement).tagName === "BUTTON" ? closeModal() : null;
});

</script>
<style>
	[astro-icon] {
    @apply h-12 text-white hover:text-primary;
	}
	button {
    @apply text-white hover:text-primary;
    @apply mx-auto py-4 w-full text-xl uppercase;
	}
</style>
<div
	id="menu-modal"
	aria-hidden="true"
  class="hidden opacity-0 transition-all duration-200 ease-in-out bg-cover fixed
		top-0 left-0 w-screen h-screen z-50 uppercase bg-default"
	>
	<SplashImage />
	<div
    id="menu-content"
    class="flex-col text-white fixed top-0 left-0 py-4 overflow-auto"
  >
		<div role="dialog" aria-modal="true" class="flex-col w-screen">
		<header class="self-end mr-4">
			<button
        id="close-nav-button"
        aria-label="Close navigation"
        class="w-fit-content"
      >
	      <Icon pack="mdi" name="close" />
			</button>
		</header>
		<nav>
			<ul>
			{
				navigation.map((item) => (
				<li>
					<button class="nav-item" onclick={item.url}>
						{item.title}
					</button>
				</li>
				))
			}
			</ul>
			<ul id="socials_mobile" class="flex justify-center mt-4">
				{
					social.map((item) => (
						<li>
							<a href={item.url} aria-label={item.title} target="_blank">
								<Icon name={item.icon}/>
							</a>
						</li>
					))
				}
			</ul>
		</nav>
		</div>
	</div>
</div>