---
import { Picture } from '@astrojs/image/components';
import { Markdown } from "@astropub/md";
import { Icon } from "astro-icon";
import * as info from '~/data/projects.md'
const { heading, subtitle, summary, projects } = info.frontmatter
const id = info.file.split('/').pop().split('.')[0]
import * as skillsInfo from '~/data/skills.md'
import Section from '~/components/section.astro'
const { skills } = skillsInfo.frontmatter
//add Icon to each project
projects.forEach((project) => {
	project.icons = []
	project.technologies.forEach((technology) => {
		skills.forEach((skill) => {
			if (technology.toLowerCase() === skill.title.toLowerCase()) {
				project.icons.push(skill.icon)
			}
		})
	})
})
---
<Section {id} {heading} {subtitle} {summary}>
	<ul class="flex flex-wrap justify-center gap-8">
	{
		projects.map((project) => (
			<li
				class="flex flex-col p-4 sm:p-8 gap-4 bg-offset
				border border-default rounded-lg"
			>
				<header class="w-full text-center">
						<p class="font-bold text-2xl">{project.title}</p>
						<p class="text-offset mb-4">{project.description}</p>
				</header>
				<div class="flex-wrap justify-center">
					<Picture
						loading="lazy"
						src={project.image}
						widths={[800]}
						aspectRatio={1.8}
						sizes="600px"
						quality={100}
						alt={`Screenshot of ${project.title}`}
						class="max-w-2xl w-5/6 border border-default rounded-xl mb-4 mx-auto"
					/>
					<div class="flex-col">
						<Markdown of={project.summary}/>
						<div class="my-4 mx-auto flex gap-8 w-fit flex-wrap justify-center">
							{
								project.icons.map((icon) => (
									<Icon name={icon} class="h-12 opacity-80"/>
								))
							}
						</div>
					</div>
				</div>
				<div class="flex flex-col sm:flex-row my-4 mx-auto gap-4">
					<a class="btn" href={project.live} target="_blank">Live</a>
					<a class="btn-offset" href={project.github} target="_blank">Github</a>
				</div>
			</li>

		))
	}
	</ul>
</Section>