---
import * as info from '~/data/seo.md'
const { title, description, keywords, socialDescription, socialImage } = info.frontmatter
const { site } = Astro
---
<!-- SEO -->
<title>{title}</title>
<meta name="description" content={description}>
<meta name="keywords" content={keywords}>
<meta property="og:title" content={title}>
<meta property="og:description" content={socialDescription}>
<meta property="og:image" content={socialImage}>
<meta property="og:url" content={site}>
<meta property="og:type" content="website">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content={title}>
<meta name="twitter:description" content={socialDescription}>
<meta name="twitter:image" content={socialImage}>
<link rel="canonical" content={site}>
<meta name="robots" content="index, follow">