---
import { Icon } from "astro-icon";
import * as info from '~/data/skills.md'
import Section from '~/components/section.astro'
const { heading, subtitle, summary, skills, categoryTitles } = info.frontmatter
const id = info.file.split('/').pop().split('.')[0]
const categories = []
Object.entries(categoryTitles).map(([key, value]) => {
  categories.push({
    title: value,
    items: skills.filter((item) => item.category === key)
  })
})
---
<Section {id} {heading} {subtitle} {summary}>
  {
    categories.map((item) => (
    <article>
      <h3>{item.title}</h3>
      <ul class="flex flex-wrap justify-center gap-8">
        {
          item.items.map((skill) => (
            <li
              class="flex flex-col items-center text-center filter hue-rotate-30
                rounded-lg p-4 border border-default w-60 hover:animate-gradient"
              style="background: linear-gradient(45deg, rgba(0, 0, 0, .2),
                rgba(0, 0, 0, .2)), url('images/skillsbg.webp') 80% 80%/250%;"
            >
              <Icon name={skill.icon} class="h-20 mb-5" />
              <p class="text-offset text-sm uppercase">{skill.type}</p>
              <p class="font-semibold">{skill.title}</p>
            </li>
          ))
        }
      </ul>
    </article>
    ))
  }
</Section>