---
import { Icon } from "astro-icon";
import * as info from '~/data/skills.md'
import Section from '~/components/section.astro'
const { heading, subtitle, summary, skills, categoryTitles } = info.frontmatter
const id = info.file.split('/').pop().split('.')[0]
const categories = []
Object.entries(categoryTitles).map(([key, value]) => {
  categories.push({
    title: value,
    items: skills.filter((item) => item.category === key)
  })
})
---
<style>
  li:hover {
    background-position: 40% 40%;
  }
  li {
    background-position: 80% 80%;
    background-size: 250%;
    filter: hue-rotate(30deg);
    @apply flex flex-col items-center text-center;
    @apply rounded-lg p-4 border border-default w-60;
    @apply transition-all duration-1000 ease-in-out;
  }
</style>
<Section {id} {heading} {subtitle} {summary}>
  {
    categories.map((item) => (
    <article>
      <h3 class="mt-0">{item.title}</h3>
      <ul class="flex flex-wrap justify-center gap-8">
        {
          item.items.map((skill) => (
            <li>
              <Icon name={skill.icon} class="h-20 mb-5" />
              <p class="text-offset text-sm uppercase">{skill.type}</p>
              <p class="font-semibold">{skill.title}</p>
            </li>
          ))
        }
      </ul>
    </article>
    ))
  }
</Section>